* {
  margin: 0;
  padding: 0;
  box-sizing:content-box;
  font-family: Arial, sans-serif;
  
  
}

/* Theme variables */
:root {
  --bg: #0f172a;
  --text: #e5e7eb;
  --card: #1e293b;
}

.light {
  --bg: #f8fafc;
  --text: #020617;
  --card: #e2e8f0;
}

body {
  background: var(--bg);
  color: var(--text);
  scroll-behavior: smooth;
  transition: background 0.4s, color 0.4s;
  line-height: 1.8;
  padding-top: 20px;
}

p {
  margin: 16px 0;
}

h1, h2, h3 {
  line-height: 1;
  margin-bottom: 8px;
}

.section h2 {
  margin-bottom: 8px;
}


/* Navbar */

/* Hero */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  border: 3px solid #38bdf8;
}


.highlight {
  color: white;
}

/*-------------------------------------------------------------------------------------- */

/* Sections */
.section {
  padding: 50px 20px;
  max-width: 1100px;
  margin: auto;
  scroll-margin-top: 100px;
}

/*-------------------------------------------------------------------------------------- */

/* Skills */
.skills span {
  display: inline-block;
  margin: 8 px 10px;
  padding: 10px 15px;
  background: var(--card);
  border-radius: 10px;
  transition: transform 0.3s;
}

.skills {
  margin-top: 16px;
}

.skills span:hover {
  transform: scale(1.1);
}

.skills.icons img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  filter: grayscale(0%);
  transition: transform 0.1s, filter 0.3s;
  border-radius: 5%;
  border:2px;
  padding:1%; margin:2px

}

.skills.icons img:hover {
  transform: scale(1.15);
  /*transform: rotate3d(0.5, 0.5, 0.5, 45deg); */
  

  filter: grayscale(0%);
}

/*-------------------------------------------------------------------------------------- */

/* Project Cards */
/*.card {
  background: var(--card);
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
} */

/*Project Image
.project-img {
  width: 20%;
  border-radius: 4px;
  margin-bottom: 30px;
} */


/*-------------------------------------------------------------------------------------- */

/* Hi I am Kash Chauhan*/
.typing {
  min-height: 1.5em;
  line-height: 1.5;
}

/*-------------------------------------------------------------------------------------- */
/* Certificates grid */
.certificates-grid {
  display:grid;
  background-color:var(--bg);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

/* Certificates card */
.certificates-card {
  background:#0f172a;
  border-radius: 10px;
  padding:5px; margin:0.5px;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  display: flex;
  flex-direction:column;
  align-items:center;
  gap: 0.5px;
  border: 5px;
   

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Image */
.certificates-card img {
  width: 50%;
  max-width: 100px;
  height: auto;
  object-fit: contain;
}

/* Label text */
.certificates-card span {
  font-size: 14px;
  font-weight: 100;
}

/* Hover & focus */
.certificates-card:hover,
.certificates-card:focus-visible {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 30px rgba(56, 189, 248, 0.25);
}

/*-------------------------------------------------------------------------------------- */

/* Scroll animation */
.hidden {
  opacity: 2;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.show {
  opacity: 2;
  transform: translateY(0);
}

/* Modal */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

.modal-content {
  background: var(--card);
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
}

.modal-content p {
  line-height: 1.7;
}


.modal-hidden {
  display: none;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: justify;
}

.about-img {
  width: 0px;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }
}


.debug-nav {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 72px;

  display: flex;
  align-items: center;

  padding: 1 24px;
  background:0x0f172a;
  z-index: 9999;
}

/* Left logo */
.debug-logo {
  font-size: 21px;
  font-weight: bold;
  color: white;
  display: flex;
  
}

/* Right container */
.debug-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 40px;
  
}

/* Links */
.debug-right a {
  color:white;
  font-weight: bold;
  text-decoration: none;
  
}

/* Theme button */
#themeToggle {
  background:transparent;
  color:#020617;
  border: none;
  /*padding: 5px 7px; */
  font-size: 22px;
  cursor: pointer;
} 

/* Push content down */
body {
  padding-top: 72px;
}

.project-icon {
  margin-right: 8px;
  color: #4f46e5;   
  font-size: 15px;
  vertical-align: middle;
}

/*------------------------------------------------------------------------------------*/

/* Projects */
/* Projects grid */
.projects-grid {
  display:grid;
  background-color:var(--bg);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

/* Project card */
.project-card {
  background:#0f172a;
  border-radius: 10px;
  padding:5px; margin:0.5px;
  text-align: center;
  text-decoration: none;
  color: var(--text);
  display: flex;
  flex-direction:column;
  align-items:center;
  gap: 0.5px;
  border: 5px;
   

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Image */
.project-card img {
  width: 50%;
  max-width: 100px;
  height: auto;
  object-fit:contain;

}

/* Label text */
.project-card span {
  font-size: 15px;
  font-weight: 100;
  }

/* Hover & focus */
.project-card:hover,
.project-card:focus-visible {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 12px 30px rgba(56, 189, 248, 0.25);
}

/*------------------------------------------------------------------------------------------------- */

/* Copyright */

.site-footer {
  text-align: center;
  padding: 20px 0;
  background-color: #111;
  color: #aaa;
  font-size: 14px;
}

.site-footer p {
  margin: 0;
}

